<div class="hidden">
    <a id="openModalLink" href="#" data-toggle="modal"
       data-target="#automaticModal">
        Login</a>
</div>

<div class="modal fade" id="automaticModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Crea una nueva cuenta</h1><br>
            <form>
                <div location="tfNombre"></div>
                <div location="tfApPaterno"></div>
                <div location="tfApMaterno"></div>
                <div location="tfTelefono"></div>
                <div location="dfFechaNacimiento"></div>
                <div location="foto"></div>
                <div location="imgFoto"></div>
                <div location="tfEmail"></div>
                <div location="pfPassword"></div>
                <br>
                <div location="btnCrearCuenta"></div>
            </form>
        </div>
    </div>
</div>